<style>
.thumby {
  width: 100px!Important;
}
.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
  width: 400px!importan!importantt;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}

.fineimg {
  width: 1000px!important;
}
</style>
